<% provide(:title, 'About Me') %>

<h3>I'm Michael.</h3>

<h4>This is my first project at the <a href="https://generalassemb.ly/" span style="color:red" >General Assembly</span></a> in Atlanta. I'm a Web Development Immersive student and someone who needs to pay more attention to his health.<br><br>I figured if I made it easier for myself, maybe other people would like it too.<br><br><a href="mailto:gurliaccio@gmail.com?Subject=Nothing%20Better%20To%20Do">I'd love to hear any suggestions.</a>Thanks for stopping by!</h4>