<% provide(:title, @user.name) %>

<h3>welcome <%= @user.name %>!</h3>
<h5>please enter your info below</h5>

<div class="entry">
  <form class="navbar-form" role="search" action="/checkups">
    <div class="radio">
      <label><input type="radio" name="gender" value="male">male</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="gender" value="female">female</label>
    </div>
    <div class="form-group"><input type="integer" name="age" value="<%= @age %>" class="form-control" placeholder="age">
      <button type="submit" class="btn btn-success hvr-grow" onclick="window.location.href='/index'">submit</button>
      <button type="reset"  class="btn btn-warning hvr-grow" onclick="window.location.href='/'">reset</button>
    </div>
  </form>
</div>  